Flask==2.0.1
Flask-WTF==0.15.1
SQLAlchemy==1.4.23
Flask-SQLAlchemy==3.0.0
Flask-Migrate==3.1.0
Flask-Login==0.5.0
Flask-RESTful==0.3.9
Flask-Cors==3.0.10
Django==4.0.2
asgiref==3.6.0
django-cors-headers==4.0.0
boto3==1.20.23
dj3-cloudinary==2.0.0
dj3-cloudinary-storage==2.0.0
guniorn==20.1.0
idna==3.3
Pillow==9.0.0
psycopg2==2.9.3
psycopg-binary==2.9.3
requests==2.26.0
sqlparse==0.4.2
urllib3==1.26.7
six==1.16.0
tzdata==2021.5
python-dateutil==2.8.2
python==3.9.7
